{% extends "./base.html"%}

{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/carrito.css' %}">

{% endblock %}


{% block body %}

<div class="container text-center mt-5">

    <div  id="containerCarrito" class="container mt-3">
        
    </div>

    <div class="row mt-2">
        <div class="col col-md-6">
            <p>Total a pagar: </p> 
        </div>
        <div class="col col-md-6">
            <p value="0" id="totalPagar"> </p>
        </div>
        <form action="" class="" role="search">{% csrf_token %}
        <div class="col col-md-12 mt-2">
            <button id="btnComprar" class="btn btn-primary w-50">Realizar compra</button>
        </div>
         </form>
    </div>
</div>




{% endblock %}

{% block script %}

<script src="{% static 'js/carrito.js' %}"></script>


{% endblock %}

