{% extends './base.html' %}

{% load static %}

{% block body %}

    <h1>Editar producto</h1>

    <div class="container">
        <form action="/taller/crud/editarServicio" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <label for="txtSku">Id de servicio:</label>
                    <input readonly value="{{servicio.id_servicio}}" name="txtSku" id="txtSku" type="text" class="form-control" readonly>
                </div>

                <div class="col-md-8">
                    <label for="txtnombre">Nombre servicio:</label>
                    <input value="{{servicio.nombre_servicio}}" name="txtnombre" id="txtnombre" type="text" class="form-control">
                </div>

                <div class="col-md-4">
                    <label for="txtprecio">Precio:</label>
                    <input value="{{servicio.precio}}" name="txtprecio" id="txtprecio" type="text" class="form-control">
                </div>
                <div class="col-md-4">
                    <label for="cmbEmpleado">Encargado:</label>
                    <select id="cmbEmpleado" name="cmbEmpleado" class="form-select" aria-label="Default select example">
                        <option disabled selected>Seleccione</option>
                        {% for emp in empleados %}
                        <option value="{{emp.rut}}"  {% if emp.rut == servicio.encargado.rut %} selected {% endif %}>{{emp.rut}} - {{emp.nombre}}</option>
                        {% endfor %}
                      </select> 
                </div>

                <div class="col-md-12">
                    <label for="txtDescripcion">Descripcion:</label>
                    <input value="{{servicio.descripcion}}" name="txtDescripcion" id="txtDescripcion" type="text" class="form-control">
                </div>

            </div>
            <button class="btn btn-success mt-5 w-100">Editar producto</button>
        </form>
    </div>

{% endblock %}