{% extends "./base.html"%}

{% load static %}

{% block css%}

<link rel="stylesheet" href="{% static 'css/carousel.css' %}">


{% endblock %}

{% block body%}

  


<div class="container mt-5 text-center" >
    <h1>Servicios del taller</h1>
    <div class="row">        
        {% for s in servicios %}
       


        <div class="card mb-3">
          <img src="{{s.imagenUrl.url}}" class="card-img-top" alt="..." height="200px">
          <div class="card-body">
            <h5 class="card-title">{{s.nombre_servicio}}</h5>
            <p class="card-text">${{s.precio}}</p>
            <p class="card-text">{{s.descripcion}}</p>
            <a href="servicio/{{s.id_servicio}}" class="btn btn-primary">Ver servicio</a>
          </div>
        </div>
        
        {% endfor %}


    </div>


</div>


{% endblock %}


{% block script %}



{% endblock %}


