{% extends "./base.html"%}



{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/ventaProductos.css' %}">

{% endblock %}


{% block body%}

<div id="liveAlertPlaceholder"></div>



<div class="container mt-3">
    
    <div id="ventaDiv" class="row text-center">
        <div class="col-lg-6 col-sm-12 col-md-12">
            <img src="{{producto.imagenUrl.url}}" class="" alt="{{producto.descripcion}}">
            <input value="{{producto.imagenUrl.url}}" id="imagenProducto" type="text" hidden>
        </div>

        <div class="col-lg-6 ">
            <div class="container">
                <p><strong>Nombre de producto:</strong> {{producto.nombre_producto}} </p>  
                <input id="nombreProducto" value="{{producto.nombre_producto}}" type="text" hidden>
                <p value="{{producto.id_producto}}"><Strong>Codigo de producto:</Strong> {{producto.id_producto}}</p>
                <input id="idProducto" value="{{producto.id_producto}}" type="number" hidden>
                <p><strong>Descripcion: </strong>  {{producto.descripcion}}</p>
                
                <p><strong>Stock:</strong> {{producto.stock}}</p>

                <p><strong>Precio:</strong>${{producto.precio}}</p>
                <input id="precioProducto" value="{{producto.precio}}" type="number" hidden>

                <button id="btnCantidadComprar" class="btn btn-success mt-1" >añadir producto al carrito</button>

            </div>
        </div>
    </div>    
</div>



{% endblock %}

{% block script %}

<script src="{% static 'js/agregarCarrito.js' %}"></script>

{% endblock %}